<blockquote class="prompt-info"> 
  This article is based on the lectures from the course <a href="https://corsi.unige.it/en/off.f/2024/ins/77867?codcla=11160" target="_blank">Machine Learning and Data Analysis</a> at the University of Genoa, taught by Professor Luca Oneto.  
  Initially driven by the desire to deeply understand its concepts, I set myself the goal of reworking and enriching them with personal reflections and insights, as a gesture of appreciation for their invaluable worth.  
  I ultimately decided to make them available here, firmly believing that learning is real only when shared.  
</blockquote>
